<!-- app/views/partials/_product_box.html.erb -->

<div class="w3-third w3-container w3-margin-bottom">
  <div class="w3-container w3-white">
    <%= link_to product.product_name, product_path(product) %>
    <p><%= product.description %></p>
  </div>
</div>
