<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer first:</strong>
    <%= customer.customer_first %>
  </p>

  <p>
    <strong>Customer last:</strong>
    <%= customer.customer_last %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= customer.email_address %>
  </p>

</div>
