<h2>About Us</h2>



<div class="w3-row-padding">
  <% random_products = Product.order("RANDOM()").limit(6) %>
  <% random_products.each do |random_product| %>
    <div class="w3-third w3-container w3-margin-bottom">
      <div class="w3-container w3-white">
        <%= link_to random_product.product_name, product_path(random_product) %>
        <p><%= random_product.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="w3-container w3-padding-large" style="margin-bottom:32px">
  <h4><b>Contact Information</b></h4>
  <p>Phone: 555-555-5555</p>
  <p>Email: Email@example.com</p>
  <p>123 Fake St.</p>
  <p>Winnipeg, MB</p>
  <p>H0H 0H0</p>
  <hr>
</div>
