.pagination {
  display: flex;
  justify-content: center; /* Center the pagination links */
  background-color: rgb(145, 147, 148);
  padding: 10px; /* Add padding to the pagination container as needed */
  clear: both; /* Clear both sides to ensure it's on its own row */
  margin-bottom: 20px;
  font-size: larger;
  background-color: grey;
}

/* Remove the default list-style and padding */
.pagination li {
  list-style: none;
  display: inline;
  margin: 0; /* Remove any existing margin */
}

.products-container {
  margin-top: 20px;
  text-align: center; /* Center the products container */
  background-color: grey;

}
