/* Center the pagination links */
.pagination {
  display: flex;
  justify-content: space-evenly; /* Use space-evenly to evenly space out the items */
  background-color: rgb(145, 147, 148);
  padding: 10px; /* Add padding to the pagination container as needed */
}

/* Remove the default list-style and padding */
.pagination li {
  list-style: none;
  display: inline;
  margin: 0; /* Remove any existing margin */
}
