<div style="text-align: center; margin-top: 20px;">
  <% content_for :title, 'All Products' %>
</div>
<div style="text-align: center; margin-top: 20px;">
  <div class="pagination" style="clear: both;">
    <%= will_paginate @products %>
  </div>
</div>


<div class="products-container">
  <%= render partial: 'partials/product_box', collection: @products, as: :product %>
</div>

<div style="text-align: center; margin-top: 20px;">
  <div class="pagination" style="clear: both;">
    <%= will_paginate @products %>
  </div>
</div>
