<%= render @product %>
<p>
  <% if @product.image.attached? %>
    <%# Generate a resized variant of the image %>
    <%= image_tag @product.image.variant(resize_to_limit: [200, 200]) %>
  <% else %>
    No image available.
  <% end %>
</p>
<div>
  <%= link_to "Back to Products", products_path, class: "btn btn-secondary" %>
</div>
